
@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf");
}
* {
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bg-img {
    background-image: url("images/Header-llustration-desktop.png");
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.header-1 {
    font-weight: Bolder !important;
    font-size: 48px !important;
    line-height: 60px !important;
    line-height: 103% !important;
    letter-spacing: 0.37px !important;
}
.mh-600{
    min-height: 600px !important;
}

.ga-color-blue {
    color: #172b4d !important;
}

.ga-color-green {
    color: #36b37f !important;
}

.ga-bg-green {
    background-color: #36b37f !important;
}

.ga-color-dark-blue {
    color: #172b4d !important;
}

.ga-bt {
    background: #ebf0ee  !important;
    border-radius: 4px;
}

.ga-card-title {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 32px !important;
}
.ga-hearder {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 32px !important;
}